#board {
    background-color: white;
    border-radius: 75px;
    max-width: 197px;
    min-width: 197px;
}

#simonButton {
    background-color: black;
    border-color: white;
    border-radius: 30px;
    border-style: solid;
    border-width: 5px;
    color: white;
    display: block;
    height: 60px;
    position: absolute;
    right: 271px;
    top: 75px;
    width: 60px;
}