<app-color-button [color]="redColor" [chirpSubject]="chirpSubject" (clicked)="handleButtonClick($event)" [failed]="failed"></app-color-button>
<app-color-button [color]="blueColor" [chirpSubject]="chirpSubject" (clicked)="handleButtonClick($event)" [failed]="failed"></app-color-button>
<app-color-button [color]="greenColor" [chirpSubject]="chirpSubject" (clicked)="handleButtonClick($event)" [failed]="failed"></app-color-button>
<app-color-button [color]="yellowColor" [chirpSubject]="chirpSubject" (clicked)="handleButtonClick($event)" [failed]="failed"></app-color-button>
